@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  html, body { background: rgb(58, 90, 55); }
  
  html { height: 100%; }
  
  a {
    text-decoration-line: none;
    color: rgb(211, 197, 64);
  }

  body {
    text-align: left;
    color: rgb(211, 197, 64);
    font-family: Pretendard-Regular;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    min-height: 100%;
    h2, h3, h4, h5, h6 { margin-top: 3rem; }
    hr { margin: 2rem 0; }
    p { margin: 1rem 0; }
    li { margin: 0.4rem 0; }
  }
  
  *:target { background: yellow; }
  
  .w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
  }
  
  hr {
    text-align: center;
    border: 0;
  
    &:before { content: '/////' }
    &:after { content: attr(data-content) '/////' }
  }
  
  table { width: 100%; }
  
  table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
  }
  
  code {
    color: white;
    background: black;
  }
  
  div.highlighter-rouge code {
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    padding: 1rem;
  }
  
  blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
  
    p { margin: 0; }
  }
  
  img {
    max-width: 75%;
    display: block;
    margin: 0;
  }
  